.card {
  width: 100%;
  padding: 3.2px;
  margin-bottom: 5px;
  transition: 0.5s;
}

.card:hover {
  padding: 2px;
  transition: 0.5s;
}

.card2 {
  width: 80%;
  margin-left: 10%;
  transition: 0.5s;
}

.card2:hover {
  background-color: rgb(245, 244, 244);
  transition: 0.5s;
}

.card > .card-footer {
    font-size: small;
}

#btn1 {
  margin-right: 1%;
}

h4 {
  margin-bottom: 3%;
}
h4 a {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  color: rgb(34, 34, 121);
}

#box h3 a {
    text-decoration: none;
    color: rgb(34, 34, 121);
    font-size: small;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.6s;
}

#box h3 a:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: rgb(3, 3, 238);;
    content: "";
    transition: width 0.6s;
}

#box h3 a:hover {
    color: #0d0d0d;
    transition: 0.6s;
}

#box h3 a:hover:after {
    width: 13%;
}

.btn-add {
  border-radius: 7px;
  font-size: small;
}

#list {
  margin-top: 10px;
}